html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

span {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background: #202225;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  width: auto;
  height: auto;
  background: none;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  z-index: 1;
}

.btn-container:hover {
  cursor: pointer;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  height: 32px;
  width: 32px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.btn:hover {
  cursor: pointer;
}

.btn-sm {
  height: 24px;
  width: 24px;
}

.btn-xs {
  height: 20px;
  width: 20px;
}

.btn-xxs {
  height: 16px;
  width: 16px;
}

.btn-hover:hover {
  background-color: rgba(79, 84, 92, 0.32);
}

.btn-hover-0:hover {
  background-color: rgba(79, 84, 92, 0.16);
}

.round-none {
  border-radius: 0;
}

.round {
  border-radius: 4px;
}

.round-start {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.round-end {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  height: 24px;
  width: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.btn-icon-sm {
  height: 20px;
  width: 20px;
}

.btn-icon-xs {
  height: 16px;
  width: 16px;
}

.btn-icon-xxs {
  height: 14px;
  width: 14px;
}

.seperator-hrt {
  display: block;
  background-color: rgba(79, 84, 92, 0.16);
  width: 32px;
  height: 2px;
  margin-bottom: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.seperator-vrt {
  display: block;
  background-color: rgba(79, 84, 92, 0.32);
  width: 2px;
  height: 32px;
  margin: 0 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.full-img {
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.icon-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;
  background-color: #36393f;
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.icon-profile.icon-profile-hover:hover {
  opacity: 0.75;
}

.icon-profile-md {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 999px;
}

.icon-profile-sm {
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 999px;
}

.user-profile-image {
  position: relative;
  width: 32px;
  height: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.icon-status-mask {
  -webkit-mask: url("/app/assets/icons/icon_profile_mask_32.svg#mask") 0 0/32px 32px;
          mask: url("/app/assets/icons/icon_profile_mask_32.svg#mask") 0 0/32px 32px;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  mask-image: url("/app/assets/icons/icon_profile_mask_32.svg#mask");
  -webkit-mask-image: url("/app/assets/icons/icon_profile_mask_32.svg#mask");
}

.badge-online {
  position: absolute !important;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/app/assets/icons/online_24dp.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: 0.5px;
  bottom: 0;
  z-index: 2;
}

.badge-idle {
  position: absolute !important;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/app/assets/icons/idle_24dp.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: 0.5px;
  bottom: 0;
  z-index: 2;
}

.badge-do-not-disturb {
  position: absolute !important;
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("/app/assets/icons/do_not_disturb_24dp.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: 0.5px;
  bottom: 0;
  z-index: 2;
}

.yellow {
  color: #f1c40f;
}

.purple {
  color: #8257af;
}

.green {
  color: #22ab92;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  font-weight: 400;
  font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
  line-height: 20px;
}

[data-tooltip-status] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
}

[data-tooltip-status]::before {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

[data-tooltip-status]::after {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32), -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
}

[data-tooltip-status]:hover::before {
  position: absolute;
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #18191c;
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 4px);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

[data-tooltip-status]:hover::after {
  position: absolute;
  display: block;
  content: attr(data-tooltip-status);
  color: #dcddde;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #18191c;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 21ch;
  line-height: 1rem;
  padding: 9px 10px;
  border-radius: 6px;
  margin: 0 16px;
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 8px);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

[data-tooltip-top] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
}

[data-tooltip-top]::before {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

[data-tooltip-top]::after {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32), -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
}

[data-tooltip-top]:hover::before {
  position: absolute;
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #18191c;
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 2px);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

[data-tooltip-top]:hover::after {
  position: absolute;
  display: block;
  content: attr(data-tooltip-top);
  color: #dcddde;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #18191c;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 21ch;
  line-height: 1rem;
  padding: 9px 10px;
  border-radius: 6px;
  margin: 0 16px;
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 6px);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

[data-tooltip-bottom] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
}

[data-tooltip-bottom]::before {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

[data-tooltip-bottom]::after {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32), -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
}

[data-tooltip-bottom]:hover::before {
  position: absolute;
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #18191c;
  opacity: 1;
  visibility: visible;
  top: calc(100% + 4px);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

[data-tooltip-bottom]:hover::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row wrap;
      -ms-flex-pack: row wrap;
          justify-content: row wrap;
  content: attr(data-tooltip-bottom);
  color: #dcddde;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #18191c;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 21ch;
  line-height: 1rem;
  padding: 9px 10px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  visibility: visible;
  top: calc(100% + 8px);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

[data-tooltip-top-delay] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
}

[data-tooltip-top-delay]::before {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

[data-tooltip-top-delay]::after {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32), -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
}

[data-tooltip-top-delay]:hover::before {
  position: absolute;
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #18191c;
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 3px);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

[data-tooltip-top-delay]:hover::after {
  position: absolute;
  display: block;
  content: attr(data-tooltip-top-delay);
  color: #dcddde;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #18191c;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 21ch;
  line-height: 1rem;
  padding: 9px 10px;
  border-radius: 6px;
  margin: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 7px);
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

.body-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 72px 240px 1fr 240px;
      grid-template-columns: 72px 240px 1fr 240px;
  -ms-grid-rows: 48px calc(100vh - 48px);
      grid-template-rows: 48px calc(100vh - 48px);
  font-size: 100%;
  overflow: hidden;
}

.nav {
  background-color: #202225;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.nav-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-items: center;
  padding: 12px;
}

.nav-list-item {
  margin-bottom: 8px;
  -webkit-transition: all none;
  transition: all none;
}

.nav-list-item .item-status {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all none;
  transition: all none;
}

.nav-list-item .item-status .indicator {
  position: absolute;
  display: block;
  width: 4px;
  height: 0;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: -16px;
  z-index: 6;
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.nav-list-item .item-status.update .indicator {
  height: 8px;
  opacity: 1;
  left: -12px;
}

.nav-list-item .item-status:hover .indicator {
  height: 20px;
  opacity: 1;
  left: -12px;
}

.nav-list-item .item-status.active .indicator {
  height: 42px;
  opacity: 1;
  left: -12px;
}

.nav-list-item .item-status.active .btn-nav-left {
  border-radius: 16px;
}

.server-activity {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -webkit-transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: opacity 50ms ease-out, transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32), -webkit-transform 50ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
}

.server-activity::before {
  position: absolute;
  content: '';
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 50ms ease;
  transition: all 50ms ease;
}

.server-activity .server-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow: hidden;
}

.server-activity .server-title .server-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  vertical-align: baseline;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 1px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.server-activity .server-title .partner-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  place-content: center;
  margin-left: 2px;
  margin-right: 8px;
}

.server-activity .server-title .partner-badge .icon-partner-badge-base {
  position: relative;
  color: #6f85d2;
}

.server-activity .server-title .partner-badge .icon-partner-badge-top {
  position: absolute;
  color: #fff;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.server-activity .server-activity-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8e9297;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-top: 8px;
  margin-right: 4px;
}

.server-activity .server-activity-group .btn-icon {
  color: #b9bbbe;
}

.server-activity .server-activity-group .member-list {
  position: relative;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.server-activity .server-activity-group .member-list img {
  position: relative;
  margin-right: -4px;
  -webkit-box-shadow: 0 0 0 3px #18191c;
          box-shadow: 0 0 0 3px #18191c;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.item-status:hover .server-activity {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #dcddde;
  line-height: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 20ch;
  background-color: #18191c;
  padding: 9px 10px;
  border-radius: 6px;
  left: calc(100% + 20px);
  opacity: 1;
  z-index: 3;
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

.item-status:hover .server-activity::before {
  position: absolute;
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  background-color: #18191c;
  right: calc(100% - 4px);
  opacity: 1;
  visibility: visible;
  z-index: 3;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.btn-nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  color: #43b581;
  height: 48px;
  width: 48px;
  background-color: #36393f;
  padding: 0;
  border: none;
  border-radius: 999px;
  outline: none;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transition: background-color 150ms ease-out;
  transition: background-color 150ms ease-out;
}

.btn-nav-left .btn-icon {
  fill: currentColor;
}

.btn-nav-left:hover {
  cursor: pointer;
  border-radius: 16px;
  background-color: currentColor;
}

.btn-nav-left:hover.server {
  background-color: transparent;
}

.btn-nav-left:hover .btn-icon {
  fill: #ffffff;
}

.btn-discord #discord-icon {
  color: #dcddde;
}

.btn-discord:hover {
  background-color: #6f85d2;
}

.btn-discord:hover #discord-icon {
  color: #fff;
}

.panel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #fff;
  background-color: #2f3136;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.server-header {
  height: 48px;
  background-color: #2f3136;
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
          box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
}

.server-header a {
  text-decoration: none;
  color: currentColor;
}

.server-header .btn-icon {
  color: #dcddde;
}

.server-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
  padding-left: 16px;
  padding-right: 14px;
  color: #fff;
}

.server-profile .server-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 16px;
  overflow: hidden;
}

.server-profile .server-title .server-name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  vertical-align: baseline;
  padding-left: 4px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.server-profile .partner-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1px;
}

.server-profile .partner-badge .icon-partner-badge-base {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #6f85d2;
}

.server-profile .partner-badge .icon-partner-badge-top {
  position: absolute;
  margin-top: -0.25px;
  width: 16px;
  height: 16px;
  z-index: 1;
}

.channel {
  padding-right: 8px;
  padding-top: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
}

.channel .channel-group {
  width: 100%;
  padding-bottom: 20px;
}

.room-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  color: #8e9297;
  text-transform: uppercase;
  width: 100%;
  padding-left: 2px;
  margin-bottom: 6px;
  overflow: hidden;
}

.room-header:hover {
  cursor: pointer;
  color: #dcddde;
}

.room-header .room-title {
  font-size: 0.75rem;
  font-weight: 600;
  padding-left: 1.5px;
  padding-right: 16px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.room-subgroup {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  line-height: 20px;
  padding-left: 8px;
  margin-bottom: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.room-subgroup .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  color: #8e9297;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  min-height: 32px;
  height: 32px;
  padding: 0 8px;
  padding-right: 5px;
  border-radius: 4px;
}

.room-subgroup .container .hidden {
  visibility: hidden;
}

.room-subgroup .container:hover {
  color: #dcddde;
  background-color: rgba(79, 84, 92, 0.16);
}

.room-subgroup .container:hover .hidden {
  visibility: visible;
}

.room-subgroup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 16ch;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.room-subgroup-header .room-subgroup-title {
  font-size: 1rem;
  margin-left: 6px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.room-subgroup-header .btn-icon {
  color: #72767d;
}

.room-subgroup .container .hidden .icon-fill-default {
  color: #b9bbbe;
}

.room-subgroup .container .hidden:hover .icon-fill-default {
  color: #dcddde;
}

.room-subgroup .container.active {
  background-color: rgba(79, 84, 92, 0.32);
}

.room-subgroup .container.active .hidden {
  visibility: visible;
}

.room-subgroup .container.update {
  color: #fff;
}

.room-subgroup .container.update::after {
  position: absolute;
  display: block;
  content: '';
  height: 8px;
  width: 4px;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  left: 0;
  z-index: 1;
}

.room-stream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  top: 100%;
  right: 0;
  margin-top: 1px;
  padding-left: 32px;
}

.room-stream > :first-child {
  margin-top: 2px;
}

.room-stream .room-stream-item {
  padding: 0;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 2px;
}

.room-stream .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.875rem;
  text-decoration: none;
  line-height: 18px;
  height: 100%;
  padding: 0 8px;
}

.room-stream .item .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  overflow-x: hidden;
}

.room-stream .item .profile .profile-title {
  color: #8e9297;
  font-weight: 500;
  padding-left: 8px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.room-stream .item .hidden {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 2;
}

.room-stream .item .hidden .mute {
  color: #8e9297;
  display: none;
}

.room-stream .item .hidden .deafen {
  color: #8e9297;
  display: none;
}

.room-stream .item .hidden .live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 16px;
  vertical-align: baseline;
  text-transform: uppercase;
  background-color: #f04747;
  width: auto;
  height: 16px;
  padding: 2px 6px;
  border-radius: 999px;
  white-space: nowrap;
  margin-left: 2px;
}

.room-stream .room-stream-item:hover {
  background-color: rgba(79, 84, 92, 0.16);
}

.room-stream .room-stream-item:hover .profile-title {
  color: #dcddde;
}

.room-stream .room-stream-item.mute .hidden .mute {
  display: block;
}

.room-stream .room-stream-item.deafen .hidden .deafen {
  display: block;
}

.room-stream .room-stream-item.live .hidden .live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel-footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 48px;
  background-color: #292B2F;
  top: calc(100% - 48px);
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.panel-footer .panel-user-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4px 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.panel-footer .panel-user-settings .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.panel-footer .panel-user-settings .user-profile .user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80px;
  height: 32px;
  margin-left: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.panel-footer .panel-user-settings .user-profile .user-account .user-username {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1.5px;
  line-height: 1;
}

.panel-footer .panel-user-settings .user-profile .user-account .user-id {
  color: #b9bbbe;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: left;
  line-height: 1;
}

.panel-footer .panel-user-settings .user-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.panel-footer .panel-user-settings .btn {
  color: #b9bbbe;
}

.panel-footer .panel-user-settings .btn .strikethrough {
  color: #f04747;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #b9bbbe;
  height: 48px;
  width: 100%;
  background-color: #36393f;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 12px;
  padding-right: 8px;
  -webkit-box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
          box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  z-index: 1;
  grid-column: 3 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.header-room-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.header-room-info .room-title {
  color: #fff;
  font-weight: 600;
  line-height: 20px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header-room-info .room-description {
  color: #b9bbbe;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header-room-info .btn {
  color: #72767d;
}

.header-room-info .btn:hover {
  cursor: default;
}

.header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header-group .btn-container {
  margin: 0 8px;
}

.header-group .btn-container .btn {
  color: #b9bbbe;
}

.header-group .btn-container .btn:hover {
  color: #dcddde;
}

.header-group .btn-container.active .btn {
  color: #fff;
}

.header-group .header-searchbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 144px;
  height: 24px;
  background-color: #202225;
  border-radius: 4px;
  padding-right: 2px;
  margin: 0 8px;
}

.header-group .header-searchbar .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 20px;
  height: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.header-group .header-searchbar .searchbar input[type="search"] {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: #b9bbbe;
  font-size: 0.875rem;
  padding: 4px;
  padding-left: 6px;
  background: none;
  outline: none;
  border: none;
}

.header-group .header-searchbar .searchbar input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.header-group .header-searchbar .searchbar .btn {
  margin: 0;
  color: #72767d;
}

.header-group .header-searchbar .searchbar .btn:hover {
  cursor: text;
}

.header-group .header-searchbar:focus-within {
  width: 240px;
}

.chat-viewbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  background-color: #36393f;
  padding-left: 16px;
  overflow: hidden;
  z-index: 0;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.chat-viewbox .container {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.chat-unread-banner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6e84d1;
  height: 24px;
  line-height: 20px;
  padding: 2px 8px;
  padding-left: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  top: 48px;
  top: 0;
  left: 16px;
  right: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  z-index: 1;
}

.chat-unread-banner:hover {
  cursor: pointer;
}

.chat-unread-banner .chat-unread-count {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto;
}

.chat-unread-banner .chat-unread-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-left: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
}

.chat-unread-banner .chat-unread-group .chat-unread-label {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  margin-right: 4px;
}

.chat-unread-banner .chat-unread-group .btn {
  color: #fff;
  margin-top: -4px;
}

.chat-input-container {
  width: 100%;
  padding-right: 16px;
  padding-bottom: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.chat-text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #40444b;
  height: 44px;
  padding: 8px;
  padding-right: 4px;
  border-radius: 8px;
}

.chat-text-input .chat-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  overflow-x: hidden;
}

.chat-text-input .chat-form .chat-input {
  color: #8e9297;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  min-height: 32px;
  padding-left: 8px;
  background: none;
  border: none;
  outline: none;
  overflow-x: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.chat-text-input .chat-text-btn-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.chat-text-input .btn-container {
  margin: 0 8px;
}

.chat-text-input .btn-container .btn {
  color: #b9bbbe;
}

.chat-text-input .btn-container .btn:hover {
  color: #dcddde;
}

.chat-text-input .emoji-icon {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 250ms ease-out, -webkit-transform 250ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: -webkit-filter 250ms ease-out, -webkit-transform 250ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: filter 250ms ease-out, transform 250ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
  transition: filter 250ms ease-out, transform 250ms cubic-bezier(0.57, -0.3, 0.38, 1.32), -webkit-filter 250ms ease-out, -webkit-transform 250ms cubic-bezier(0.57, -0.3, 0.38, 1.32);
}

.chat-text-input .emoji-icon .btn-icon {
  height: 22px;
  width: 22px;
}

.chat-text-input .emoji-icon:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 64px;
  padding-right: 12px;
}

.message-container .default {
  display: block;
  color: #fff;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-self: flex-end;
}

.message-container .default .default-header {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8px;
}

.message-container .default .default-text {
  color: #b9bbbe;
  font-size: 0.875rem;
  font-weight: 400;
}

.message-container .message-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-right: 48px;
}

.message-container .message-item .message-options {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #2f3136;
  border-radius: 4px;
  top: -5px;
  right: 0;
  visibility: hidden;
}

.message-container .message-item .message-options .btn {
  color: #b9bbbe;
}

.message-container .message-item .message-options .btn:hover .btn-icon {
  color: #dcddde;
}

.message-container .message-item .message-timestamp-top {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 11px;
  bottom: 100%;
  left: 0;
  right: 0;
  padding: 0;
}

.message-container .message-item .message-timestamp-top .timestamp-date {
  color: #72767d;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0 4px;
  line-height: 1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.message-container .message-item .message-timestamp-top .hrt-bar {
  display: block;
  height: 1px;
  background-color: #40444b;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.message-container .message-item .message .message-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
  margin-bottom: 4px;
}

.message-container .message-item .message .message-header .username {
  line-height: 0.85;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 8px;
}

.message-container .message-item .message .message-header .username:hover {
  text-decoration: underline;
  cursor: pointer;
}

.message-container .message-item .message .message-header .message-timestamp {
  color: #72767d;
  line-height: 1;
  font-size: 0.75rem;
  font-weight: 500;
}

.message-container .message-item .message .message-text {
  color: #dcddde;
  line-height: 1.5;
  white-space: pre-line;
}

.message-container .message-item:hover .message-options {
  visibility: visible;
}

.message-container .message-sender {
  margin-right: 16px;
}

.message-container > .message-item:nth-child(2) .timestamp-date {
  display: none;
  visibility: none;
}

.room-activity {
  background-color: #2f3136;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.room-activity .yellow {
  color: #f1c40f;
}

.room-activity .purple {
  color: #8257af;
}

.room-activity .green {
  color: #22ab92;
}

.room-member-group {
  width: 100%;
  padding: 0 8px;
  padding-top: 24px;
}

.room-member-group .room-member-group-header {
  color: #8e9297;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  padding-left: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.room-member-group .room-member-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 44px;
  padding: 0 8px;
  margin-bottom: 2px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.room-member-group .room-member-item:hover {
  cursor: pointer;
  background-color: rgba(79, 84, 92, 0.16);
}

.room-member-group .room-member-item .user-profile-image {
  margin-right: 12px;
}

.room-member-group .room-member-item b {
  font-weight: 600;
}

.room-member-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.room-member-details .room-member-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: 500;
}

.room-member-details .room-member-name .member-username {
  vertical-align: baseline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 11ch;
          flex: 0 1 11ch;
  margin-right: 4px;
}

.room-member-details .room-member-name .btn-container {
  height: 16px;
}

.room-member-details .room-member-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #8e9297;
  font-size: 0.75rem;
  font-weight: 500;
  vertical-align: baseline;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.room-member-details .room-member-status .status {
  line-height: 16px;
  vertical-align: baseline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20ch;
          flex: 0 1 20ch;
  padding-right: 2px;
}

.room-member-details .room-member-status .btn-container {
  height: 20px;
  margin-right: 4px;
}
