// color

$background-black: #202225;
$background-grey: #36393f;
$background-panel-grey: #2f3136;
$primary-blue: #6f85d2;
$primary-green: #43b581;
$secondary-green: #22ab92;
$secondary-purple: #8257af;
$secondary-red: #f04747;
$secondary-orange: #faa61a;
$secondary-blue: #6e84d1;
$secondary-yellow: #f1c40f;
$secondary-tooltip: #18191c;


// text

$text-link: #0b9ac9;
$text-normal: #dcddde;
$text-mute: #b9bbbe;
$text-chat: #72767d;
$text-active: #fff;
$channel-default: #8e9297;

// icon

$icon-state-default: #72767d;
$icon-state-normal: #b9bbbe;
$icon-state-hover: #dcddde;
$icon-state-active: #fff;

// hover

$background-active-fill: rgba(79, 84, 92, 0.32);
$background-hover-fill: rgba(79, 84, 92, 0.16);


// fonts

$font-size: ("xlarge": 1.2rem,
  "large": 1.125rem,
  "default": 1rem,
  "medium": 0.875rem,
  "small": 0.75rem,
);

@function font-size($size-name) {
  @return map-get($font-size, $size-name);
}

// font-weight

$font-weight: ("light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

@function font-weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

// unit

$opacity: 0.54;
$border-bottom-shadow: 0 1px 0 rgba(4, 4, 5, 0.2),
0 1.5px 0 rgba(6, 6, 7, 0.05),
0 2px 0 rgba(4, 4, 5, 0.05);
// $tooltip-shadow: ; 


// transition

$transition-tooltip: cubic-bezier(.57, -0.3, .38, 1.32);


// ****** @MIXIN ****** //

// center container

@mixin flex-center($flex-direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $flex-direction;
}

// transform: rotate() | prefix

@mixin transform-rotate($value) {
  transform: rotate($value);
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -o-transform: rotate($value);
  -ms-transform: rotate($value);
}

// transform: scale() | prefix

@mixin transform-scale($value) {
  transform: scale($value);
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -o-transform: scale($value);
  -ms-transform: scale($value);
}

// ******************** //