<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome {{ username }} to the room {{ room_id }} </h1>
	
    <div id="messages"></div>

    <form id = "message_input_form">
        <input id="message_input" type="text" placeholder="Enter your message here">
        <button type="submit">Send</button>
    </form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>




        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {

            e.preventDefault();

            let message = message_input.value.trim();

            if(message.length) {


            }
        }
    });



    socket.on('join_room_announcement', function(data){

        console.log(data)

    })

</script>
</html>